@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0f172a; /* Azul oscuro industrial */
  --accent: #f59e0b;  /* Amarillo maquinaria */
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}     
